<div class="tree-row list-item">

    <!-- clickable indent -->
    <div
        (click)="selectRow(node)"
        [ngClass]="{'clickable' : !isSelectedRow(node)}"
        style="height: 17px;"
        [ngStyle]="{'padding-left' : (15 * levelDistance()) + 'px'}">
    </div>

    <!-- Tristate checkbox -->
    <tristate-checkbox [value]="node.tristateSelection"
        style="padding-right: 5px;"
         (click)="onCheckboxClicked(node)">
    </tristate-checkbox>

    <!-- Folder icon -->
    <div *ngIf="isFolder(node)"
          class="folder-icon-container" style="padding-right: 5px;">
        <div *ngIf="!node.expanded">

        </div>
        <div *ngIf="!node.expanded"
              (click)="onToggleExpandedState(node)"
              class="clickable">
            <i class="fa fa-folder"></i>
        </div>
        <div *ngIf="node.expanded"
              (click)="onToggleExpandedState(node)"
              class="clickable">
            <i class="fa fa-folder-open"></i>
        </div>
    </div>
    <a class="node-label">
      <div>{{ node.label }}</div>
    </a>

    <p-menu #menu
            [popup]="true"
            appendTo="body"
            [model]="menuItems"
            [style]="{width: '160px', 'font-size' : '1em'}">
    </p-menu>

    <!-- Context button -->
    <button pButton pRipple
            type="button"
            icon="pi pi-ellipsis-v"
            [ngClass]="{'context-button-selected' : selected}"
            class="context-button"
            (click)="menu.toggle($event)">
    </button>
</div>
