<div *ngIf="tree">
  <cdk-virtual-scroll-viewport
        [style.height.px]="500"
        style="width: 900px; margin-top: 10px;"
        minBuffer="200"
        maxBuffer="350"
        itemSize="20">
      <div
        *cdkVirtualFor="let ch of visibleFlatTree; templateCacheSize: 20" class="tree">
        <virtual-checkbox-tree-child
          [rowSelectionEnabled]="rowSelectionEnabled"
          [node]="ch"
          [selectedRow]="selectedRow"
          (selectedRowChange)="onSelectedRowChange($event)"
          (expandAllToggle)="onExpandAllNodesChange($event)"
          (expandedNodeChange)="onExpandedNodeChange($event)">
        </virtual-checkbox-tree-child>
      </div>
    </cdk-virtual-scroll-viewport>
</div>
