/* You can add global styles to this file, and also import other style files */

.clickable {
  cursor: pointer;
}

.list-item:hover {
  color: #1e9fcd;
  background: #cccccc2e;
}



/**
 * Checkbox-tree
 */
#work-pane .tree-row-selected {
  background: #006488;
  color: white;
}
#work-pane .tree-row-selected:hover .node-label {
  color: white;
}
#work-pane .tree-row-selected:hover {
  background: #21a2d0;
}
